
<div class="container-fluid g-3">
    <div class="row row-cols-3">
    @for (int i = 0; i < 4; i++)
    {
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Default Card Example</h3>
                <div class="card-tools">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <span class="badge badge-primary">Label</span>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                The body of the card
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                The footer of the card
            </div>
            <!-- /.card-footer -->
        </div>
    }
    <!-- /.card -->
    </div>
</div>